:root {
	--main-color-hue: 182;
	--main-color-saturation: 60%;
	--main-color-lightness: 50%;
	--main-color: hsl(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness));
	--main-color-alpha10: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.1);
	--main-color-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.2);
	--main-color-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.3);
	--main-color-alpha40: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.4);
	--main-color-alpha60: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.6);
	--main-color-alpha70: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.7);
	--main-color-alpha80: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.8);
	--main-color-lightest: hsl(var(--main-color-hue), var(--main-color-saturation), 95%);
	--main-color-lighter: hsl(var(--main-color-hue), var(--main-color-saturation), 90%);
	--main-color-light: hsl(var(--main-color-hue), var(--main-color-saturation), 65%);
	--main-color-dark: hsl(var(--main-color-hue), var(--main-color-saturation), 40%);
	--main-color-dark-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.2);
	--main-color-dark-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.3);
	--main-color-dark-alpha40: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.4);
	--main-color-darker: hsl(var(--main-color-hue), var(--main-color-saturation), 27%);
	--main-color-darker-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.2);
	--main-color-darker-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.3);
	--main-color-darker-alpha50: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.5);
	--main-color-darkest: hsl(var(--main-color-hue), var(--main-color-saturation), 20%);
	--secondary-color-hue: 340;
	--secondary-color-saturation: 80%;
	--secondary-color-lightness: 60%;
	--secondary-color: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness));
	--secondary-color-alpha15: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.15);
	--secondary-color-alpha20: #ffdbe8;
	--secondary-color-alpha30: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.3);
	--secondary-color-alpha40: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.4);
	--secondary-color-alpha50: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.5);
	--secondary-color-alpha70: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.6);
	--secondary-color-alpha80: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.8);
	--secondary-color-lightest: #ffdbe8;
	--secondary-color-darken5: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 55%);
	--secondary-color-dark: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 50%);
	--dark-color-hue: 220;
	--dark-color-saturation: 20%;
	--dark-color-lightness: 20%;
	--dark-color-light-lightness: 30%;
	--dark-color-dark-lightness: 14%;
	--dark-color: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-lightness));
	--dark-color-light: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-light-lightness));
	--dark-color-dark: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-dark-lightness));
	--blue: #278acd;
	--red: #dc2c00;
	--yellow-hue: 37;
	--yellow-saturation: 100%;
	--yellow-lightness: 65%;
	--yellow: hsl(var(--yellow-hue), var(--yellow-saturation), var(--yellow-lightness));
	--yellow-alpha30: hsla(var(--yellow-hue), var(--yellow-saturation), var(--yellow-lightness), 0.3);
	--yellow-dark: hsl(var(--yellow-hue), var(--yellow-saturation), 55%);
	--yellow-dark-alpha30: hsla(var(--yellow-hue), var(--yellow-saturation), 55%, 0.3);
	--yellow-lightest: #ffeccb;
	--green: #57cb72;
	--green-alpha15: rgba(87, 203, 114, .15);
	--green-dark: #38b756;
	--danger-color: var(--secondary-color);
	--info-color: var(--yellow-lightest);
	--success-color: var(--green);
	--warning-color: var(--yellow);
	--black-hue: 0;
	--black-saturation: 0%;
	--black: hsl(var(--black-hue), var(--black-saturation), 0%);
	--black-alpha10: hsla(var(--black-hue), var(--black-saturation), 0%, 0.1);
	--black-alpha12: hsla(var(--black-hue), var(--black-saturation), 0%, 0.12);
	--black-alpha14: hsla(var(--black-hue), var(--black-saturation), 0%, 0.14);
	--black-alpha15: hsla(var(--black-hue), var(--black-saturation), 0%, 0.15);
	--black-alpha20: hsla(var(--black-hue), var(--black-saturation), 0%, 0.2);
	--black-alpha30: hsla(var(--black-hue), var(--black-saturation), 0%, 0.3);
	--black-alpha40: hsla(var(--black-hue), var(--black-saturation), 0%, 0.4);
	--black-alpha50: hsla(var(--black-hue), var(--black-saturation), 0%, 0.5);
	--black-alpha60: hsla(var(--black-hue), var(--black-saturation), 0%, 0.6);
	--black-alpha70: hsla(var(--black-hue), var(--black-saturation), 0%, 0.7);
	--black-alpha80: hsla(var(--black-hue), var(--black-saturation), 0%, 0.8);
	--black-alpha90: hsla(var(--black-hue), var(--black-saturation), 0%, 0.9);
	--white-hue: 0;
	--white-saturation: 0%;
	--white: hsl(var(--white-hue), var(--white-saturation), 100%);
	--white-alpha10: hsla(var(--white-hue), var(--white-saturation), 100%, 0.1);
	--white-alpha20: hsla(var(--white-hue), var(--white-saturation), 100%, 0.2);
	--white-alpha30: hsla(var(--white-hue), var(--white-saturation), 100%, 0.3);
	--white-alpha40: hsla(var(--white-hue), var(--white-saturation), 100%, 0.4);
	--white-alpha50: hsla(var(--white-hue), var(--white-saturation), 100%, 0.5);
	--white-alpha60: hsla(var(--white-hue), var(--white-saturation), 100%, 0.6);
	--white-alpha70: hsla(var(--white-hue), var(--white-saturation), 100%, 0.7);
	--white-alpha80: hsla(var(--white-hue), var(--white-saturation), 100%, 0.8);
	--white-alpha90: hsla(var(--white-hue), var(--white-saturation), 100%, 0.9);
	--grey-lightest: #fafafa;
	--grey-lighter: #f1f1f1;
	--grey-light: #e5e5e5;
	--grey: #d1d1d1;
	--grey-alpha20: hsla(0, 0%, 82%, .2);
	--grey-alpha30: hsla(0, 0%, 82%, .3);
	--grey-dark: #8f9092;
	--grey-darker: #626262;
	--grey-darker-alpha15: rgba(98, 98, 98, .15);
	--grey-darkest: #333;
	--grey-darkest-alpha20: rgba(51, 51, 51, .2);
	--grey-darkest-alpha30: rgba(51, 51, 51, .3);
	--grey-darkest-alpha50: rgba(51, 51, 51, .5);
	--grey-darkest-alpha70: rgba(51, 51, 51, .7);
	--grey-darkest-alpha75: rgba(51, 51, 51, .75);
	--color-live: var(--secondary-color);
	--color-live-lightest: var(--secondary-color-lightest);
	--color-starting: var(--yellow);
	--color-starting-alpha20: rgba(255, 185, 74, .2);
	--color-starting-alpha30: rgba(255, 185, 74, .3);
	--color-starting-alpha40: rgba(255, 185, 74, .4);
	--color-starting-alpha50: rgba(255, 185, 74, .5);
	--color-starting-alpha70: rgba(255, 185, 74, .7);
	--color-starting-lightest: var(--yellow-lightest);
	--color-replay: var(--grey-darkest);
	--color-replay-alpha30: var(--grey-darkest-alpha30);
	--color-replay-alpha70: var(--grey-darkest-alpha70);
	--color-replay-lightest: var(--grey-light);
	--tck-color-1: #34495e;
	--tck-color-2: #5ece8d;
	--tck-color-3: #1abc9c;
	--tck-color-4: #16a085;
	--tck-color-5: #6c8687;
	--tck-color-6: #f1c40f;
	--tck-color-7: #e67e22;
	--tck-color-8: #cf4b04;
	--tck-color-9: #6cc0d3;
	--tck-color-10: #6fabd3;
	--tck-color-11: #278acd;
	--tck-color-12: #0c639e;
	--global-radius: 3px;
	--menu-height: 70px;
	--vertical-menu-width: 90px;
	--rem-size-8: 0.5rem;
	--rem-size-10: 0.625rem;
	--rem-size-12: 0.75rem;
	--rem-size-13: 0.8125rem;
	--rem-size-14: 0.875rem;
	--rem-size-15: 0.9375rem;
	--rem-size-16: 1rem;
	--rem-size-18: 1.125rem;
	--rem-size-20: 1.25rem;
	--rem-size-22: 1.375rem;
	--rem-size-24: 1.5rem;
	--rem-size-25: 1.5625rem;
	--rem-size-28: 1.75rem;
	--rem-size-32: 2rem;
	--rem-size-35: 2.1875rem;
	--title-font-family: "Kreon", serif;
	--text-font-family: "Roboto", sans-serif;
	--quote-font-family: Arial, sans-serif;
	--ideacons-font: "ideation-icons";
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700
}

.idt-history-container {
	display: block;
	position: relative;
	right: 0;
	width: 0;
	height: 1rem;
	transition: all .3s ease
}

@media only screen and (max-width:639px) {
	.idt-history-container.open {
		width: 100%
	}
}

@media only screen and (min-width:640px) {
	.idt-history-container.open {
		width: 360px
	}
}

@media only screen and (max-width:991px) {
	.idt-history-container {
		flex: 0 0 auto
	}
}

.idt-history-container .idt-history {
	position: absolute;
	bottom: 0;
	left: 0;
	height: calc(100vh - var(--menu-height));
	background-color: var(--grey-lightest);
	overflow: hidden
}

@media only screen and (max-width:639px) {
	.idt-history-container .idt-history {
		width: 100%;
		height: calc((var(--vh, 1vh) * 100))
	}
}

@media only screen and (min-width:640px) {
	.idt-history-container .idt-history {
		width: 360px;
		height: calc(100vh - var(--menu-height))
	}
}

.idt-history-container .idt-history__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 44px;
	background-color: var(--white);
	box-shadow: 0 0 6px 0 rgba(var(--black), .2)
}

.idt-history-container .idt-history__header__left__title {
	margin-left: .5rem;
	padding: 8px 12px;
	color: var(--black);
	font-size: 1rem;
	font-family: var(--title-font-family);
	text-transform: uppercase
}

.idt-history-container .idt-history__header__right {
	display: flex;
	justify-content: center;
	width: 44px;
	height: 100%;
	background-color: var(--grey-light)
}

.idt-history-container .idt-history__header__right__close {
	color: var(--grey-darker);
	border-radius: 0;
	cursor: pointer
}

.idt-history-container .idt-history__toolbar {
	display: flex;
	flex-direction: column;
	padding: .5rem 1rem
}

.idt-history-container .idt-history__toolbar__open-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	margin-bottom: 10px;
	color: var(--white);
	background-color: var(--main-color);
	border-radius: 4px;
	font-size: .875rem;
	cursor: pointer;
	transition: all .3s ease
}

.idt-history-container .idt-history__toolbar__open-btn__arrow {
	display: none;
	position: absolute;
	left: 20px
}

.idt-history-container .idt-history__toolbar__open-btn__text {
	margin-right: 8px;
	font-weight: var(--font-weight-medium)
}

.idt-history-container .idt-history__toolbar__open-btn:hover {
	background-color: var(--main-color-dark)
}

.idt-history-container .idt-history__toolbar__open-btn:hover .idt-history__toolbar__open-btn__arrow {
	display: block
}

.idt-history-container .idt-history__toolbar__searchbar input {
	height: 40px;
	margin: 0;
	padding: .6566rem 1.5rem .6566rem 1rem;
	border-color: #f0f0f0;
	border-radius: 4px;
	font-size: .9rem
}

.idt-history-container .idt-history__list {
	padding: 0 1rem 1rem;
	overflow-y: auto
}

@media only screen and (max-width:639px) {
	.idt-history-container .idt-history__list {
		max-height: calc(100vh - 150px)
	}
}

@media only screen and (min-width:640px) {
	.idt-history-container .idt-history__list {
		max-height: calc(100% - 150px)
	}
}

.idt-history-container .idt-history__empty-list {
	color: var(--grey-dark);
	font-size: .7rem
}

.idt-history-container .idt-history__empty-list .ideacons {
	padding: 0 1.25rem 0 .75rem;
	font-size: 1.1rem;
	vertical-align: sub
}

.idt-history-container .idt-history .idt-history-card {
	position: relative;
	min-height: 115px;
	margin-bottom: .5rem;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s ease
}

.idt-history-container .idt-history .idt-history-card--hiring {
	border-bottom: 2px solid var(--main-color)
}

.idt-history-container .idt-history .idt-history-card:hover {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2)
}

.idt-history-container .idt-history .idt-history-card__container {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	position: relative;
	min-height: 115px;
	padding: 25px 15px
}

.idt-history-container .idt-history .idt-history-card__avatar {
	flex: 0 0 auto;
	position: relative
}

.idt-history-container .idt-history .idt-history-card__avatar__project {
	width: 50px;
	height: 50px;
	border-radius: 50%
}

.idt-history-container .idt-history .idt-history-card__avatar__project--no-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: var(--grey-darkest-alpha20);
	font-size: 2.25rem;
	text-transform: uppercase
}

.idt-history-container .idt-history .idt-history-card__unread {
	width: 21px;
	height: 21px;
	color: #fff;
	background-color: var(--secondary-color);
	border-radius: 50%;
	font-size: .7rem;
	text-align: center;
	line-height: 21px;
	position: absolute;
	top: 0;
	transform: translate(-4px, -10px);
	left: 0
}

.idt-history-container .idt-history .idt-history-card__content {
	flex: 1 1 auto;
	padding: 0 .75rem
}

.idt-history-container .idt-history .idt-history-card__title {
	margin-bottom: .25rem;
	color: var(--grey-darkest);
	line-height: 1
}

.idt-history-container .idt-history .idt-history-card__title .user-tag {
	color: #979797;
	text-transform: uppercase
}

.idt-history-container .idt-history .idt-history-card__title .user-tag--mentor {
	color: var(--main-color)
}

.idt-history-container .idt-history .idt-history-card__title .idt-history-container .idt-history .idt-history-card__sub-title {
	display: block;
	margin-top: .25rem;
	color: #333;
	font-size: .9rem;
	font-weight: 700
}

.idt-history-container .idt-history .idt-history-card__last-msg {
	color: #979797;
	font-size: .75rem;
	word-break: break-all;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.idt-history-container .idt-history .idt-history-card__last-msg.unread {
	color: #000;
	font-weight: 500
}

.idt-history-container .idt-history .idt-history-card__icon {
	color: var(--main-color)
}

.idt-history-container .idt-history .idt-history-card__status {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	min-width: 64px;
	height: 18px;
	padding: 2px 5px;
	color: #fff;
	background-color: #b4b4b4;
	font-size: .7rem;
	text-transform: uppercase;
	line-height: 1
}

.idt-history-container .idt-history .idt-history-card__status--conf {
	background-color: #fbb03b
}

.idt-history-container .idt-history .idt-history-card__status--accepted {
	color: #57cb72;
	background-color: rgba(87, 203, 114, .2)
}

.idt-history-container .idt-history .idt-history-card__status--declined {
	color: var(--secondary-color);
	background-color: var(--secondary-color-alpha20)
}

.idt-history-container .idt-history .idt-history-card__status-project-logo {
	width: 14px;
	height: 14px;
	display: inline-block
}