:root {
	--main-color-hue: 182;
	--main-color-saturation: 60%;
	--main-color-lightness: 50%;
	--main-color: hsl(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness));
	--main-color-alpha10: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.1);
	--main-color-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.2);
	--main-color-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.3);
	--main-color-alpha40: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.4);
	--main-color-alpha60: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.6);
	--main-color-alpha70: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.7);
	--main-color-alpha80: hsla(var(--main-color-hue), var(--main-color-saturation), var(--main-color-lightness), 0.8);
	--main-color-lightest: hsl(var(--main-color-hue), var(--main-color-saturation), 95%);
	--main-color-lighter: hsl(var(--main-color-hue), var(--main-color-saturation), 90%);
	--main-color-light: hsl(var(--main-color-hue), var(--main-color-saturation), 65%);
	--main-color-dark: hsl(var(--main-color-hue), var(--main-color-saturation), 40%);
	--main-color-dark-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.2);
	--main-color-dark-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.3);
	--main-color-dark-alpha40: hsla(var(--main-color-hue), var(--main-color-saturation), 40%, 0.4);
	--main-color-darker: hsl(var(--main-color-hue), var(--main-color-saturation), 27%);
	--main-color-darker-alpha20: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.2);
	--main-color-darker-alpha30: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.3);
	--main-color-darker-alpha50: hsla(var(--main-color-hue), var(--main-color-saturation), 27%, 0.5);
	--main-color-darkest: hsl(var(--main-color-hue), var(--main-color-saturation), 20%);
	--main-color-gradient: linear-gradient(270deg, var(--main-color-alpha40), var(--main-color));
	--secondary-color-hue: 340;
	--secondary-color-saturation: 80%;
	--secondary-color-lightness: 60%;
	--secondary-color: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness));
	--secondary-color-alpha15: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.15);
	--secondary-color-alpha20: #ffdbe8;
	--secondary-color-alpha30: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.3);
	--secondary-color-alpha40: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.4);
	--secondary-color-alpha50: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.5);
	--secondary-color-alpha70: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.6);
	--secondary-color-alpha80: hsla(var(--secondary-color-hue), var(--secondary-color-saturation), var(--secondary-color-lightness), 0.8);
	--secondary-color-lightest: #ffdbe8;
	--secondary-color-darken5: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 55%);
	--secondary-color-dark: hsl(var(--secondary-color-hue), var(--secondary-color-saturation), 50%);
	--dark-color-hue: 220;
	--dark-color-saturation: 20%;
	--dark-color-lightness: 20%;
	--dark-color-light-lightness: 30%;
	--dark-color-dark-lightness: 14%;
	--dark-color: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-lightness));
	--dark-color-light: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-light-lightness));
	--dark-color-dark: hsl(var(--dark-color-hue), var(--dark-color-saturation), var(--dark-color-dark-lightness));
	--blue: #278acd;
	--red: red;
	--yellow-hue: 38;
	--yellow-saturation: 100%;
	--yellow-lightness: 57%;
	--yellow: hsl(var(--yellow-hue), var(--yellow-saturation), var(--yellow-lightness));
	--yellow-alpha30: hsla(var(--yellow-hue), var(--yellow-saturation), var(--yellow-lightness), 0.3);
	--yellow-dark: hsl(var(--yellow-hue), var(--yellow-saturation), 50%);
	--yellow-dark-alpha30: hsla(var(--yellow-hue), var(--yellow-saturation), 50%, 0.3);
	--yellow-lightest: #ffeccb;
	--green: #57cb72;
	--green-alpha15: rgba(87, 203, 114, .15);
	--green-dark: #38b756;
	--danger-color: var(--secondary-color);
	--info-color: var(--yellow-lightest);
	--success-color: var(--green);
	--warning-color: var(--yellow);
	--black-hue: 0;
	--black-saturation: 0%;
	--black: hsl(var(--black-hue), var(--black-saturation), 0%);
	--black-alpha10: hsla(var(--black-hue), var(--black-saturation), 0%, 0.1);
	--black-alpha12: hsla(var(--black-hue), var(--black-saturation), 0%, 0.12);
	--black-alpha14: hsla(var(--black-hue), var(--black-saturation), 0%, 0.14);
	--black-alpha15: hsla(var(--black-hue), var(--black-saturation), 0%, 0.15);
	--black-alpha20: hsla(var(--black-hue), var(--black-saturation), 0%, 0.2);
	--black-alpha30: hsla(var(--black-hue), var(--black-saturation), 0%, 0.3);
	--black-alpha40: hsla(var(--black-hue), var(--black-saturation), 0%, 0.4);
	--black-alpha50: hsla(var(--black-hue), var(--black-saturation), 0%, 0.5);
	--black-alpha60: hsla(var(--black-hue), var(--black-saturation), 0%, 0.6);
	--black-alpha70: hsla(var(--black-hue), var(--black-saturation), 0%, 0.7);
	--black-alpha80: hsla(var(--black-hue), var(--black-saturation), 0%, 0.8);
	--black-alpha90: hsla(var(--black-hue), var(--black-saturation), 0%, 0.9);
	--white-hue: 0;
	--white-saturation: 0%;
	--white: hsl(var(--white-hue), var(--white-saturation), 100%);
	--white-alpha10: hsla(var(--white-hue), var(--white-saturation), 100%, 0.1);
	--white-alpha20: hsla(var(--white-hue), var(--white-saturation), 100%, 0.2);
	--white-alpha30: hsla(var(--white-hue), var(--white-saturation), 100%, 0.3);
	--white-alpha40: hsla(var(--white-hue), var(--white-saturation), 100%, 0.4);
	--white-alpha50: hsla(var(--white-hue), var(--white-saturation), 100%, 0.5);
	--white-alpha60: hsla(var(--white-hue), var(--white-saturation), 100%, 0.6);
	--white-alpha70: hsla(var(--white-hue), var(--white-saturation), 100%, 0.7);
	--white-alpha80: hsla(var(--white-hue), var(--white-saturation), 100%, 0.8);
	--white-alpha90: hsla(var(--white-hue), var(--white-saturation), 100%, 0.9);
	--grey-lightest: #fafafa;
	--grey-lighter: #f1f1f1;
	--grey-light: #e5e5e5;
	--grey: #d1d1d1;
	--grey-alpha20: hsla(0, 0%, 82%, .2);
	--grey-alpha30: hsla(0, 0%, 82%, .3);
	--grey-dark: #8f9092;
	--grey-darker: #626262;
	--grey-darker-alpha15: rgba(98, 98, 98, .15);
	--grey-darkest: #333;
	--grey-darkest-alpha20: rgba(51, 51, 51, .2);
	--grey-darkest-alpha30: rgba(51, 51, 51, .3);
	--grey-darkest-alpha50: rgba(51, 51, 51, .5);
	--grey-darkest-alpha70: rgba(51, 51, 51, .7);
	--grey-darkest-alpha75: rgba(51, 51, 51, .75);
	--color-live: var(--secondary-color);
	--color-live-lightest: var(--secondary-color-lightest);
	--color-starting: var(--yellow);
	--color-starting-alpha20: rgba(255, 185, 74, .2);
	--color-starting-alpha30: rgba(255, 185, 74, .3);
	--color-starting-alpha40: rgba(255, 185, 74, .4);
	--color-starting-alpha50: rgba(255, 185, 74, .5);
	--color-starting-alpha70: rgba(255, 185, 74, .7);
	--color-starting-lightest: var(--yellow-lightest);
	--color-replay: var(--grey-darkest);
	--color-replay-alpha30: var(--grey-darkest-alpha30);
	--color-replay-alpha70: var(--grey-darkest-alpha70);
	--color-replay-lightest: var(--grey-light);
	--tck-color-1: #34495e;
	--tck-color-2: #5ece8d;
	--tck-color-3: #1abc9c;
	--tck-color-4: #16a085;
	--tck-color-5: #6c8687;
	--tck-color-6: #f1c40f;
	--tck-color-7: #e67e22;
	--tck-color-8: #cf4b04;
	--tck-color-9: #6cc0d3;
	--tck-color-10: #6fabd3;
	--tck-color-11: #278acd;
	--tck-color-12: #0c639e;
	--global-radius: 5px;
	--menu-height: 70px;
	--vertical-menu-width: 90px;
	--rem-size-8: 0.5rem;
	--rem-size-10: 0.625rem;
	--rem-size-12: 0.75rem;
	--rem-size-13: 0.8125rem;
	--rem-size-14: 0.875rem;
	--rem-size-15: 0.9375rem;
	--rem-size-16: 1rem;
	--rem-size-18: 1.125rem;
	--rem-size-20: 1.25rem;
	--rem-size-22: 1.375rem;
	--rem-size-24: 1.5rem;
	--rem-size-25: 1.5625rem;
	--rem-size-28: 1.75rem;
	--rem-size-32: 2rem;
	--rem-size-35: 2.1875rem;
	--title-font-family: "Kreon", serif;
	--text-font-family: "Roboto", sans-serif;
	--quote-font-family: Arial, sans-serif;
	--ideacons-font: "ideation-icons";
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700
}

.idt-user-list-container {
	display: block;
	position: relative;
	width: 0;
	height: 1rem;
	transition: all .3s ease
}

@media only screen and (max-width:639px) {
	.idt-user-list-container.open {
		width: 100%
	}
}

@media only screen and (min-width:640px) {
	.idt-user-list-container.open {
		width: 360px
	}
}

@media only screen and (max-width:991px) {
	.idt-user-list-container {
		flex: 0 0 auto
	}
}

.idt-user-list-container .idt-user-list {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--white);
	background-color: var(--dark-color);
	overflow: hidden
}

@media only screen and (max-width:639px) {
	.idt-user-list-container .idt-user-list {
		width: 100%;
		height: calc((var(--vh, 1vh) * 100))
	}
}

@media only screen and (min-width:640px) {
	.idt-user-list-container .idt-user-list {
		width: 360px;
		height: calc(100vh - var(--menu-height))
	}
}

.idt-user-list-container .idt-user-list__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-width: var(--chat-min-with);
	height: 44px;
	padding: .75rem 1rem;
	background-color: var(--dark-color-dark);
	box-shadow: 0 0 6px 0 var(--black-alpha20)
}

.idt-user-list-container .idt-user-list__title {
	font-family: var(--title-font-family);
	text-transform: uppercase
}

.idt-user-list-container .idt-user-list__title .ideacons {
	margin-right: .5rem;
	font-size: 1.3rem;
	vertical-align: text-top
}

.idt-user-list-container .idt-user-list__toolbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: var(--chat-min-with);
	padding: 1rem
}

.idt-user-list-container .idt-user-list__toolbar__searchbar {
	flex: 1 1 auto;
	position: relative;
	width: 100%;
	margin-bottom: 5px
}

.idt-user-list-container .idt-user-list__toolbar__searchbar input {
	height: 40px;
	margin: 0;
	padding: .6566rem 1.5rem .6566rem 1rem;
	color: var(--white);
	background-color: var(--white-alpha10);
	border: 0;
	border-radius: 4px;
	font-size: .9rem;
	transition: background-color .3s ease-in-out
}

.idt-user-list-container .idt-user-list__toolbar__searchbar input:focus {
	background-color: var(--dark-color-dark)
}

.idt-user-list-container .idt-user-list__toolbar__searchbar .searchbar-icon {
	position: absolute;
	top: 50%;
	right: 1rem;
	color: var(--white);
	font-size: 1.1rem;
	transform: translateY(-50%)
}

.idt-user-list-container .idt-user-list__toolbar__filter {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-top: 5px;
	font-size: 16px;
	line-height: 26px
}

.idt-user-list-container .idt-user-list__toolbar__filter .focus {
	background-color: var(--dark-color-dark)!important
}

.idt-user-list-container .idt-user-list__toolbar__filter__title {
	font-family: var(--title-font-family)
}

.idt-user-list-container .idt-user-list__list {
	width: 100%;
	min-width: var(--chat-min-with);
	height: calc(100% - 205px);
	padding: 0 1rem 1rem;
	overflow-y: auto
}

.idt-user-list-container .idt-user-list__not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-width: var(--chat-min-with);
	padding: 0 1rem 1rem
}

.idt-user-list-container .idt-user-list__not-found label {
	display: block;
	color: var(--white);
	font-weight: 300;
	text-align: center
}

.idt-user-list-container .idt-user-list__see-more {
	display: flex;
	justify-content: center;
	align-items: center
}

.idt-user-list-container .idt-user-list__see-more button {
	margin: 15px 0;
	padding: 10px 25px;
	color: var(--main-color);
	border: 1px solid var(--main-color);
	cursor: pointer
}

.idt-user-list-container .idt-user-list__see-more button:hover {
	background: var(--white-alpha10)
}

.idt-user-list-container .idt-user-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--grey-alpha20);
	transition: all .3s ease
}

.idt-user-list-container .idt-user-card:hover {
	background-color: var(--white-alpha20)
}

.idt-user-list-container .idt-user-card__clickable {
	display: flex;
	flex-flow: row;
	align-items: center;
	flex: 0 1 auto;
	padding: 1.2rem 0;
	cursor: pointer
}

.idt-user-list-container .idt-user-card__avatar {
	flex: 0 0 auto;
	position: relative;
	width: 46px;
	height: 46px;
	background-color: var(--white);
	border: 2px solid var(--white);
	border-radius: 100%
}

.idt-user-list-container .idt-user-card__avatar__status {
	position: absolute;
	top: -5px;
	left: -5px;
	width: 18px;
	height: 18px;
	background-color: var(--grey-light);
	border: 4px solid var(--dark-color);
	border-radius: 100%
}

.idt-user-list-container .idt-user-card__avatar__status.online {
	background-color: var(--main-color)
}

.idt-user-list-container .idt-user-card__avatar__status.offline {
	background-color: var(--secondary-color)
}

.idt-user-list-container .idt-user-card__content {
	flex: 1 1 auto;
	padding: 0 .75rem
}

.idt-user-list-container .idt-user-card__name {
	color: var(--white);
	font-size: 1.1rem
}

.idt-user-list-container .idt-user-card__tag {
	color: var(--white-alpha70);
	font-size: .75rem;
	text-transform: uppercase
}

.idt-user-list-container .idt-user-card__tag .mentor {
	color: var(--main-color)
}

.idt-user-list-container .idt-user-card__tag .mentor__line {
	display: inline-block;
	width: 1px;
	height: 11px;
	margin: 0 .5rem;
	background-color: var(--grey-dark);
	vertical-align: middle
}

.idt-user-list-container .idt-user-card__actions {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	flex: 0 0 auto;
	font-size: 1.2rem
}

.idt-user-list-container .idt-user-card__actions__menu {
	color: var(--white)
}

.idt-user-list-container .idt-user-card__actions__menu .glyphicons:before {
	padding: 0
}

.idt-user-list-container .idt-user-card__actions__open-chat {
	color: var(--main-color)
}

.idt-user-list-container .idt-user-card__actions button {
	margin: 0 .25rem;
	padding: .25rem;
	cursor: pointer
}

 .idt-dropdown {
	width: 100%
}

 .idt-dropdown--pane {
	width: 100%;
	padding: 0
}

.input-dropdown {
	position: relative;
	width: 100%
}

.input-dropdown__input {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
	font-size: 14px
}

.input-dropdown__input__container {
	position: relative;
	cursor: pointer
}

.input-dropdown__input.div {
	min-height: 53px;
	color: var(--grey-light);
	background-image: none;
	background-color: var(--white-alpha10);
	border: none;
	font-family: var(--text-font-family);
	transition: background-color .3s ease-in-out;
	pointer-events: auto
}

.input-dropdown__input.div .idea-arrow-nav-down {
	color: var(--white)
}

.input-dropdown__input.div .tag-list {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.input-dropdown__input.div .tag-list .tag-item {
	display: inline-block;
	margin: 2px;
	padding: 0 5px;
	height: 29px;
	color: var(--white);
	background: var(--main-color);
	border: 1px solid var(--main-color);
	border-radius: 3px;
	font-size: 1rem;
	font-weight: 500;
	line-height: 28px
}

.input-dropdown__input.div .tag-list .tag-item .remove-button {
	margin: 0 0 0 5px;
	padding: 0;
	background: 0 0;
	border: none;
	vertical-align: middle;
	cursor: pointer
}

.input-dropdown__button {
	margin: 0;
	color: var(--main-color);
	background-color: var(--white);
	border-color: var(--main-color);
	text-transform: uppercase
}

.input-dropdown__button.dropdown:after {
	border-color: var(--main-color) transparent transparent
}

.input-dropdown__button:hover {
	color: var(--main-color);
	background-color: var(--white)
}

.input-dropdown .idt-dropdown--pane {
	width: 236px;
	max-height: 50vh;
	margin: -2.75rem 0 0 -.25rem;
	padding: 0;
	border: none;
	border-radius: 0;
	box-shadow: 2px 2px 5px var(--black-alpha20);
	overflow-y: auto
}

.input-dropdown .idt-dropdown--pane__header {
	position: relative;
	min-height: 40px;
	color: var(--main-color);
	background-color: var(--main-color-alpha10);
	font-size: .8rem;
	font-weight: 500;
	text-transform: uppercase
}

.input-dropdown .idt-dropdown--pane__header:not(.counter):not(.checkbox) {
	padding: .7rem 1rem
}

.input-dropdown .idt-dropdown--pane__header.counter {
	padding: .7rem 2.5rem .7rem 1rem
}

.input-dropdown .idt-dropdown--pane__header .count {
	display: inline-block;
	position: absolute;
	top: 50%;
	right: 1rem;
	color: var(--main-color);
	transform: translateY(-50%)
}

.input-dropdown .idt-dropdown--pane__header.checkbox {
	padding: .7rem 3rem .7rem 1rem;
	cursor: pointer
}

.input-dropdown .idt-dropdown--pane__header.checkbox:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 1.5rem;
	width: 16px;
	height: 16px;
	border: 2px solid var(--white);
	border-radius: 100%;
	box-shadow: 0 0 0 2px var(--main-color);
	transform: translateY(-50%)
}

.input-dropdown .idt-dropdown--pane__header.checkbox.checked:before {
	background-color: var(--main-color)
}

.input-dropdown .idt-dropdown--pane button {
	width: 100%;
	height: 40px;
	padding: .7rem 1rem;
	border-radius: 0;
	text-align: left;
	cursor: pointer
}

.input-dropdown .idt-dropdown--pane button.add {
	position: relative;
	color: var(--main-color);
	background-color: var(--main-color-alpha10);
	font-size: .8rem;
	font-weight: 500;
	text-transform: uppercase
}

.input-dropdown .idt-dropdown--pane button.add i {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translateY(-50%)
}

.input-dropdown .idt-dropdown--pane__checkbox {
	position: relative;
	width: 100%;
	margin: 0;
	padding: .7rem 3rem .7rem 1rem;
	cursor: pointer
}

.input-dropdown .idt-dropdown--pane__checkbox:before {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	right: 1.5rem;
	width: 16px;
	height: 16px;
	border: 2px solid var(--white);
	border-radius: 100%;
	box-shadow: 0 0 0 2px var(--main-color);
	transform: translateY(-50%)
}

input[type=checkbox]:checked+.input-dropdown .idt-dropdown--pane__checkbox:before,
input[type=radio]:checked+.input-dropdown .idt-dropdown--pane__checkbox:before {
	background-color: var(--main-color)
}

.input-dropdown .idt-dropdown--pane input[type=checkbox],
.input-dropdown .idt-dropdown--pane input[type=radio] {
	display: none
}

.input-dropdown__title {
	background-color: var(--main-color-alpha20);
	color: var(--main-color)
}

.input-dropdown .menu {
	max-width: 100%;
	font-size: .8rem;
	overflow-x: hidden
}

.input-dropdown .menu:not(.multiple) {
	max-height: 200px;
	overflow-y: auto
}

.input-dropdown .menu li:not(:last-child) a,
.input-dropdown .menu li:not(:last-child) button {
	border-bottom: 1px solid var(--grey-lighter)
}

.input-dropdown .menu li a,
.input-dropdown .menu li button {
	color: var(--grey-darkest)
}

.input-dropdown .menu li a:hover,
.input-dropdown .menu li button:hover {
	color: var(--main-color)
}

input[type=checkbox].checked+.dropdown-pane__checkbox:before {
	background-color: var(--main-color)
}

.button-dropdown {
	display: inline-block
}